<div class="container">
  <form [formGroup]="cursoForm" (ngSubmit)="crearCurso()">
   
    <div class="form-group">
      <label for="nombre">Nombre del curso:</label>
      <input type="text" id="nombre" formControlName="nombre" class="form-control">
      <div *ngIf="cursoForm.get('nombre')?.hasError('required') && (cursoForm.get('nombre')?.touched)"
        class="text-danger">El nombre es obligatorio</div>
    </div>

    <div class="form-group">
      <label for="nombreCorto">Nombre corto:</label>
      <input type="text" id="nombreCorto" formControlName="nombreCorto" class="form-control">
      <div *ngIf="cursoForm.get('nombreCorto')?.hasError('required') && (cursoForm.get('nombreCorto')?.touched)"
        class="text-danger">El Nombre corto es obligatoria</div>
    </div>

    <div class="form-group">
      <label for="categoryid">Categoria de cursos:</label>
      <input type="number" id="categoryid" formControlName="categoryid" class="form-control">
      <div *ngIf="cursoForm.get('categoryid')?.hasError('required') && (cursoForm.get('categoryid')?.touched)"
        class="text-danger">El ID es obligatorio</div>
      <div *ngIf="cursoForm.get('categoryid')?.hasError('min') && (cursoForm.get('categoryid')?.touched)"
        class="text-danger">El ID debe ser mayor a 0</div>
    </div>

    <div class="form-group">
      <label for="idnumber">Número ID del curso:</label>
      <input type="number" id="idnumber" formControlName="idnumber" class="form-control">
      <div *ngIf="cursoForm.get('idnumber')?.hasError('required') && (cursoForm.get('idnumber')?.touched)"
        class="text-danger">El ID es obligatorio</div>
      <div *ngIf="cursoForm.get('idnumber')?.hasError('min') && (cursoForm.get('idnumber')?.touched)"
        class="text-danger">El ID debe ser mayor a 0</div>
    </div>


    <!-- <div class="form-group">
      <label for="categoryid">Categoria de cursos:</label>
      <select id="categoryid" formControlName="categoryid" class="form-control">
        <option *ngFor="let categoria of categorias" [value]="categoria.id">
          {{ categoria.name || 'Nombre no disponible' }}
        </option>
      </select>
      <div *ngIf="cursoForm.get('categoryid')?.hasError('required') && (cursoForm.get('categoryid')?.touched)"
        class="text-danger">La Categoría es obligatoria</div>
    </div> -->

    <button type="submit" class="btn btn-primary" (click)="clicTouch()">Crear Curso</button>
    <a class="btn btn-secondary" href="/lista_curso">Cancelar</a>
  </form>
</div>
